.videoTextContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin-top: -3rem;
  .content {
    width: 100%;
    font-size: 88px;
    font-family: 'Roboto', sans-serif;
    .videoText {
      font-family: 'Roboto-Light', 'sans-serif', 'serif';
    }
  }
}